# Reference settings. Store credentials in TrueForge Settings.
TRUEFORGE_BASE_URL=http://localhost:8790
PATCHPILOT_REPO=Charan788/patchpilot
PATCHPILOT_MODEL=YOUR_REGISTERED_MODEL_NAME
PATCHPILOT_GITHUB_CONNECTOR=github

